/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body, body > .container {
  height: 100vh;
}

.align-items-center {
  height: 100%;
}

.card {
  width: 100%;
}

.button-container {
  margin-top: 1rem;
}

.noDisplay {
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: initial;
}